name: Lint

on:
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install linters
      run: |
        python -m pip install --upgrade pip
        pip install flake8 black
    - name: Lint with flake8
      run: |
        flake8 src --count --max-line-length=127 --statistics
    - name: Lint with black
      run: |
        black -t py38 -l 120 --check --diff src
